body {background: url("../images/bgbody.png") no-repeat top center;}
#header {margin-bottom:20px;}
.clear {clear:both;}
.tituloh1 {font-size: 64px;margin-bottom: 25px;letter-spacing: -3px;text-shadow: 1px 1px 1px rgba(204, 204, 204, 1);font-family: "PT Sans Narrow";font-style: normal;font-weight: 400;margin-top: 29px;float: left;}
.logoperio {float: left;padding-top: 12px;}
.logosevit {float:right;padding-top: 23px;}
.urnasescrutadas {text-align:right;}
.subtitulo {text-align:center;}

/*** administracion ****/
body.admin {background: url("../images/bgbody.png") no-repeat center 65px;margin-top: 70px;}