body
{
    font-family: arial, helvetica, sans-serif;
    background-color: #FFFFEE;
}



#navcontainer ul
{
    padding-left: 0;
    margin-left: 0;
    background-color: #CC9900;
    color: White;
    float: right;
    width: 100%;
    font-family: arial, helvetica, sans-serif;
    font-weight: bold;
}

#navcontainer ul li { display: inline; }

#navcontainer ul li a
{
    padding: 0.2em 1em;
    background-color: #663300;
    color: White;
    text-decoration: none;
    float: right;
    border-right: 1px solid #CC9900;
}

#navcontainer ul li a:hover
{
    background-color: #CC6600;
    color: #fff;
}






#menucontainer
{
    width: 36em;
}

#menucontainer ul
{
    list-style: none;
    margin-left: 4em;
    padding: 0;
    border: none;
}

#menucontainer li
{
/*    background-image: url(button1.png);
    background-repeat: no-repeat;
    background-position: 0% 30%;*/
/*    padding: 5px 5px 12px 40px;*/
/*    border-bottom: 1px solid #90bade;*/
    margin: .2em 0;
}

#menucontainer li a
{
    display: block;
    padding: 5px 5px 5px 0.5em;
    border-left: 10px solid #333300;
    border-right: 10px solid #CC9900;
    background-color: #663300;
    color: #FFFFFF;
    text-decoration: none;
    width: 100%;
}

html>body #menucontainer li a { width: auto; }

#menucontainer li a:hover
{
    border-left: 10px solid #333300;
    border-right: 10px solid #CC9900;
    background-color: #CC6600;
    color: #fff;
}





table.listado {
	margin: 0;
	padding: 0;
    border:1px solid #FFFFCC;
    border-collapse:collapse;
    border-spacing:0;
/*    text-align: left;*/
	color: #333;
	line-height: 19px;
}

tr.title {
    background-color: #663300;
    color: white;
}

tr.f1 {
    background-color: #ECE4E1;
}

tr.f2 {
    background-color: #F6EDE0;
}

th.listado {
    padding-left:0.5em;
    padding-right:0.5em;
/*    text-align:left;*/
    border:1px solid #FFFFCC;
}

td.listado {
    padding-left:1em;
    padding-right:0.5em;
/*    text-align:left;*/
    border:1px solid #FFFFCC;
}


